* text=auto
* eol=lf

# https://help.github.com/articles/dealing-with-line-endings/
# These are explicitly windows files and should use crlf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.ttf binary

*.jar binary
*.exe binary